* {
	padding: 0px;
	margin: 0px;
}

#main {
	height: 40vw;
	margin: 20px;
}

body {
	background: #161512
		linear-gradient(to bottom, hsl(37, 12%, 16%), hsl(37, 10%, 8%) 116px)
		no-repeat;
	font-family: "Noto Sans", sans-serif;
}

h2#shop_title {
	text-align: center;
	color: #BABABA;
	font-family: "Noto Sans", sans-serif;
	letter-spacing: 14px;

}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 4rem;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 30px;
}
#game {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

#top {
	display: flex;
	justify-content: space-between;
}

#cookie-wrap {
}

#inventory {
	display: flex;
	justify-content: space-around;
}

.panel {
	background-color: rgb(38, 36, 33);
	color: #bababa;
	gap: 10px;
	margin: 10px;
	text-align: center;
	flex-grow: 1;
}

#shop {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.buy-resource {
	display: flex;
	padding: 5px;
	margin: 5px;
	flex-direction: row;
	box-shadow: 0 0.375rem 0.875rem 0 rgba(0, 0, 0, 0.13),
		0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.11);
	border-radius: 12px;
	justify-content: flex-start;
	row-gap: 10px;
}

.shop_item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 5px;
}

.shop_item_label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.unaffordable {
	/* border: 5px solid red; */
	opacity: 0.5;
}

.unaffordable > * > h3 {
	color: red;
}

.unaffordable > .powerup-price {
	color: red;
}

.price {
	color: #008000;
	text-align: center;
}

#cookie_count {
	font-size: 60px;
}

.item-name {
}

#cookie-svg {
	max-height: 300px;
}

/* .shop-svg {
	max-width: 110px;
} */

.no-select {
	user-select: none;
}

path#lightning {
	fill: white;
}

svg#lightning {
	max-width: 100px;
	max-height: 100px;
}

.buy-powerup {
	border-radius: 10px;
	margin: 10px;
}

.buy-powerup > h3 {
	color: white;
}

.idle > .buy-powerup {
	background-color: #808080;
}

.active > .buy-powerup {
	background-color: #D64F00;
}

.shop_item.active {
	border: 1px solid yellow;
}

.cooldown > .buy-powerup { 
	background-color: rgb(54, 146, 231);
}

#entries {
	display: flex; 
	justify-content: space-evenly;
}

svg {
	z-index: 5;
}

.entry {
	flex: 1;
}